body {
    background-color: aliceblue;
    width: 600px;
    margin: 0 auto;
}
img {
    width: 600px;
}
.text {
    font-family: 'Roboto', sans-serif;
}
a {
    color: rgb(97, 50, 50);
}
a:hover{
    color: rgb(83, 171, 140);
}